In [1]:
import numpy as np
import pandas as pd

Il file dei dati contiene i dettagli dei terremoti avvenuti tra il -2150 a.C. e il 2023 d.C. Questo contiene informazioni sulla posizione, registrazioni del terremoto insieme alla menzione del numero di persone morte, feriti, descrizione dei danni e case distrutte. Poiché ciò comporta dati dalla storia. All'inizio molti dati sono nulli / inaccurati ma la latitudine e la longitudine dovrebbero essere l'area di interesse

SOURCES
National Geophysical Data Center / World Data Service (NGDC/WDS): NCEI/WDS Global Significant Earthquake Database. NOAA National Centers for Environmental Information. doi:10.7289/V5TD9V7K

Scaricabile da:
https://www.kaggle.com/

In [16]:
!ls

 0-introduzione-generale.ipynb	        5-Pandas-part1.ipynb
 1-assignment-Lezione1.ipynb	        data
 1-hello-world-jupyter.ipynb	        fig
 2-assignment-Lezione2.ipynb	        indice.ipynb
 2-conditional-statements-loop.ipynb    lesson4.zip
'3-assignment-Lezione 3.ipynb'	        LICENSE
 3-Numpy-parte1.ipynb		        README.md
'4-Numpy-parte2-Linear Algebra.ipynb'   video

In [14]:
# Caricamento del file CSV
df = pd.read_csv('./data/earthquakes.csv')

In [15]:
df

,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Location Name,Latitude,...,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-2150.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,"JORDAN: BAB-A-DARAA,AL-KARAK",31.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-2000.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,SYRIA: UGARIT,35.683,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TURKMENISTAN: W,38.000,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
4,-1610.0,NaN,NaN,NaN,NaN,NaN,3.0,1351.0,GREECE: THERA ISLAND (SANTORINI),36.400,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6345,2023.0,1.0,28.0,18.0,14.0,45.0,NaN,NaN,IRAN: KHVOY (KHOY),38.424,...,NaN,NaN,1017.0,4.0,NaN,3.0,370.0,3.0,NaN,4.0
6346,2023.0,2.0,6.0,1.0,17.0,35.0,5873.0,NaN,TURKEY; SYRIA,37.166,...,NaN,NaN,206300.0,4.0,NaN,4.0,100000.0,4.0,NaN,4.0
6347,2023.0,2.0,6.0,10.0,24.0,49.0,NaN,NaN,TURKEY; SYRIA,38.024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6348,2023.0,2.0,9.0,6.0,28.0,0.0,NaN,NaN,INDONESIA: NEW GUINEA: IRIAN JAYA: JAYAPURA,-2.635,...,NaN,NaN,NaN,NaN,NaN,1.0,15.0,1.0,28.0,1.0
6349,2023.0,2.0,20.0,17.0,4.0,29.0,NaN,NaN,TURKEY; SYRIA,36.109,...,NaN,NaN,200.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN